@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.news-container {
  position: fixed;
  top: 1;
  right: 0;
  left: 0;
  font-size: 16px;
  background: #599cda;
  color: #73c2fb;
  padding: 40px 80px;
  display: flex;
  box-shadow: 0 4px 40px -8px rgb(18, 66, 110);
}
    .hmove { display: flex; }
    .hitem {
      font-family: 'Press Start 2P', cursive;
       flex-shrink: 0;
       width: 20%;
       text-align: center;
       color: white;
     }

     .hwrap { overflow: hidden; }

    @keyframes tickerh {
      
      0% { transform: translate3d( 120%, 0, 0); }
      100% { transform: translate3d( -180%, 0, 0); }
      
    }

     .hmove {

      animation: tickerh linear 12s infinite;
     }
 
.hmove:hover {
  animation-play-state: paused;
}
